.header {
    background-color: #032541;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.logo {
    max-width: 154px;
    width: 100%;
}

.ant-menu {
    background: transparent;
}

.ant-menu-title-content {
    color: #fff;
}
