.header {
    background-color: #032541;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.logo {
    max-width: 154px;
    width: 100%;
}

.ant-menu {
    background: transparent;
}

.ant-menu-title-content {
    color: #fff;
}

.navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_btn {
    display: none;
}

@media screen and (max-width: 610px) {
    .menus {
        display: none;
    }
    .menu_btn {
        display: block;
    }
}

.drawer {
    background-color: #032541;
    position: relative;
}