body {
  margin: 0;
  padding: 0;
}


.container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #DBDBDB;
  border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
  background: #DBDBDB;
  border-radius: 10px;
}